<ion-header>
  <ion-navbar>
      <ion-title>
      Nearby Restaurants
      </ion-title>
      <ion-buttons end>
      <button ion-button (click)="showNearbyRestaurants(lat, lng)"><ion-icon name="list" class="pr-10"></ion-icon>Show Nearby Restaurants</button>
      </ion-buttons>  
  
  </ion-navbar>
</ion-header>
  
<ion-content padding>

<div #map id="map"></div> 

<div style="width : 100% ;height: 60%">
  <!-- <ion-list>
  <ion-item *ngFor="let place of places">
      <p (click)="showAlert(place)">{{place.name}}</p>
  </ion-item>
  </ion-list> -->
</div>

</ion-content>